<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          
          <ModulePaths>
            <Exclude>
              <ModulePath>.\\bin\\debug\\*</ModulePath>
              <ModulePath>.\\bin\\release\\*</ModulePath>
            </Exclude>
          </ModulePaths>

          <PublicKeyTokens>
            <Exclude>
              <PublicKeyToken>^B77A5C561934E089$</PublicKeyToken>
              <PublicKeyToken>^B03F5F7F11D50A3A$</PublicKeyToken>
              <PublicKeyToken>^31BF3856AD364E35$</PublicKeyToken>
              <PublicKeyToken>^89845DCD8080CC91$</PublicKeyToken>
              <PublicKeyToken>^71E9BCE111E9429C$</PublicKeyToken>
              <PublicKeyToken>^8F50407C4E9E73B6$</PublicKeyToken>
              <PublicKeyToken>^E361AF139669C375$</PublicKeyToken>
            </Exclude>
          </PublicKeyTokens>

          
          <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
          <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
          <CollectFromChildProcesses>True</CollectFromChildProcesses>
          <CollectAspDotNet>False</CollectAspDotNet>
          
          
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
